<a href="https://colab.research.google.com/github/izzatillomardonov/Githup-Izzat/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('team_data.csv')
df

,team,players_used,avg_age,possession,games,games_starts,minutes,minutes_90s,goals,assists,...,fouls,fouled,offsides,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
0,Argentina,21,28.5,61.6,5,55,480,5.3,9,6,...,59,89,18,3,0,1,226,68,61,52.7
1,Australia,20,28.7,37.8,4,44,360,4.0,3,3,...,52,34,1,0,0,0,200,72,72,50.0
2,Belgium,20,30.6,57.0,3,33,270,3.0,1,1,...,30,35,3,0,1,0,132,33,28,54.1
3,Brazil,26,28.4,56.2,5,55,480,5.3,8,6,...,63,74,8,1,0,0,271,43,56,43.4
4,Cameroon,22,28.0,41.7,3,33,270,3.0,4,4,...,32,38,2,0,0,0,142,42,36,53.8
5,Canada,19,28.2,52.0,3,33,270,3.0,1,1,...,33,37,8,0,0,0,145,30,21,58.8
6,Costa Rica,22,30.6,31.3,3,33,270,3.0,3,1,...,24,37,13,0,1,0,142,38,30,55.9
7,Croatia,18,29.3,54.0,5,55,510,5.7,6,6,...,69,64,9,0,0,0,291,74,73,50.3
8,Denmark,20,27.5,60.0,3,33,270,3.0,1,1,...,28,23,5,0,0,0,171,51,48,51.5
9,Ecuador,18,25.8,53.3,3,33,270,3.0,4,2,...,50,37,8,1,1,0,135,50,49,50.5
10,England,20,27.0,62.8,5,55,450,5.0,13,11,...,53,65,5,2,1,0,227,60,66,47.6
11,France,24,27.3,54.8,5,55,450,5.0,11,11,...,39,52,8,0,3,0,241,69,60,53.5
12,Germany,20,28.1,59.3,3,33,270,3.0,6,5,...,26,27,12,1,0,0,164,36,33,52.2
13,Ghana,20,26.4,42.0,3,33,270,3.0,5,2,...,46,38,4,1,1,0,146,36,62,36.7
14,Iran,21,29.3,36.7,3,33,270,3.0,4,2,...,38,26,6,1,0,0,178,43,49,46.7
15,Japan,22,28.8,35.8,4,44,390,4.3,5,4,...,58,36,9,0,1,0,220,59,76,43.7
16,Korea Republic,21,29.0,48.3,4,44,360,4.0,5,3,...,45,34,7,0,1,0,175,72,59,55.0
17,Mexico,21,29.0,54.0,3,33,270,3.0,2,1,...,51,48,13,0,1,0,151,48,51,48.5
18,Morocco,22,27.3,32.4,5,55,480,5.3,5,4,...,74,57,14,0,0,1,262,53,64,45.3
19,Netherlands,21,27.6,53.0,5,55,480,5.3,10,8,...,87,50,8,0,1,0,241,79,70,53.0
20,Poland,21,28.7,37.3,4,44,360,4.0,3,1,...,47,47,1,1,2,0,164,51,60,45.9
21,Portugal,24,27.8,60.4,5,55,450,5.0,12,10,...,55,65,14,1,0,0,256,66,53,55.5
22,Qatar,20,29.0,43.0,3,33,270,3.0,1,1,...,31,45,7,0,1,0,138,36,38,48.6
23,Saudi Arabia,23,28.1,44.7,3,33,270,3.0,3,2,...,56,38,3,1,1,0,132,45,49,47.9
24,Senegal,20,27.7,44.8,4,44,360,4.0,5,2,...,48,57,8,1,0,0,192,72,63,53.3
25,Serbia,22,27.4,51.3,3,33,270,3.0,5,4,...,43,28,4,0,0,0,161,43,38,53.1
26,Spain,21,26.3,75.8,4,44,390,4.3,9,5,...,41,46,11,1,0,0,225,41,39,51.3
27,Switzerland,24,28.5,49.0,4,44,360,4.0,5,4,...,53,49,6,0,0,0,190,45,49,47.9
28,Tunisia,21,27.7,44.3,3,33,270,3.0,1,1,...,40,28,7,0,0,0,170,48,57,45.7
29,United States,20,25.3,53.0,4,44,360,4.0,3,3,...,45,40,5,0,1,0,212,53,53,50.0
30,Uruguay,19,28.5,48.7,3,33,270,3.0,2,1,...,34,36,3,0,2,0,166,53,47,53.0
31,Wales,18,27.7,46.7,3,33,270,3.0,1,0,...,35,33,4,1,0,0,147,42,41,50.6

In [6]:
df=pd.read_csv('team_data.csv',index_col='team')
df

,players_used,avg_age,possession,games,games_starts,minutes,minutes_90s,goals,assists,goals_pens,...,fouls,fouled,offsides,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
team,,,,,,,,,,,,,,,,,,,,,
Argentina,21,28.5,61.6,5,55,480,5.3,9,6,7,...,59,89,18,3,0,1,226,68,61,52.7
Australia,20,28.7,37.8,4,44,360,4.0,3,3,3,...,52,34,1,0,0,0,200,72,72,50.0
Belgium,20,30.6,57.0,3,33,270,3.0,1,1,1,...,30,35,3,0,1,0,132,33,28,54.1
Brazil,26,28.4,56.2,5,55,480,5.3,8,6,7,...,63,74,8,1,0,0,271,43,56,43.4
Cameroon,22,28.0,41.7,3,33,270,3.0,4,4,4,...,32,38,2,0,0,0,142,42,36,53.8
Canada,19,28.2,52.0,3,33,270,3.0,1,1,1,...,33,37,8,0,0,0,145,30,21,58.8
Costa Rica,22,30.6,31.3,3,33,270,3.0,3,1,3,...,24,37,13,0,1,0,142,38,30,55.9
Croatia,18,29.3,54.0,5,55,510,5.7,6,6,6,...,69,64,9,0,0,0,291,74,73,50.3
Denmark,20,27.5,60.0,3,33,270,3.0,1,1,1,...,28,23,5,0,0,0,171,51,48,51.5
Ecuador,18,25.8,53.3,3,33,270,3.0,4,2,3,...,50,37,8,1,1,0,135,50,49,50.5
England,20,27.0,62.8,5,55,450,5.0,13,11,12,...,53,65,5,2,1,0,227,60,66,47.6
France,24,27.3,54.8,5,55,450,5.0,11,11,11,...,39,52,8,0,3,0,241,69,60,53.5
Germany,20,28.1,59.3,3,33,270,3.0,6,5,5,...,26,27,12,1,0,0,164,36,33,52.2
Ghana,20,26.4,42.0,3,33,270,3.0,5,2,5,...,46,38,4,1,1,0,146,36,62,36.7
Iran,21,29.3,36.7,3,33,270,3.0,4,2,3,...,38,26,6,1,0,0,178,43,49,46.7
Japan,22,28.8,35.8,4,44,390,4.3,5,4,5,...,58,36,9,0,1,0,220,59,76,43.7
Korea Republic,21,29.0,48.3,4,44,360,4.0,5,3,5,...,45,34,7,0,1,0,175,72,59,55.0
Mexico,21,29.0,54.0,3,33,270,3.0,2,1,2,...,51,48,13,0,1,0,151,48,51,48.5
Morocco,22,27.3,32.4,5,55,480,5.3,5,4,5,...,74,57,14,0,0,1,262,53,64,45.3
Netherlands,21,27.6,53.0,5,55,480,5.3,10,8,10,...,87,50,8,0,1,0,241,79,70,53.0
Poland,21,28.7,37.3,4,44,360,4.0,3,1,2,...,47,47,1,1,2,0,164,51,60,45.9
Portugal,24,27.8,60.4,5,55,450,5.0,12,10,10,...,55,65,14,1,0,0,256,66,53,55.5
Qatar,20,29.0,43.0,3,33,270,3.0,1,1,1,...,31,45,7,0,1,0,138,36,38,48.6
Saudi Arabia,23,28.1,44.7,3,33,270,3.0,3,2,3,...,56,38,3,1,1,0,132,45,49,47.9
Senegal,20,27.7,44.8,4,44,360,4.0,5,2,4,...,48,57,8,1,0,0,192,72,63,53.3
Serbia,22,27.4,51.3,3,33,270,3.0,5,4,5,...,43,28,4,0,0,0,161,43,38,53.1
Spain,21,26.3,75.8,4,44,390,4.3,9,5,8,...,41,46,11,1,0,0,225,41,39,51.3
Switzerland,24,28.5,49.0,4,44,360,4.0,5,4,5,...,53,49,6,0,0,0,190,45,49,47.9
Tunisia,21,27.7,44.3,3,33,270,3.0,1,1,1,...,40,28,7,0,0,0,170,48,57,45.7
United States,20,25.3,53.0,4,44,360,4.0,3,3,3,...,45,40,5,0,1,0,212,53,53,50.0
Uruguay,19,28.5,48.7,3,33,270,3.0,2,1,2,...,34,36,3,0,2,0,166,53,47,53.0
Wales,18,27.7,46.7,3,33,270,3.0,1,0,0,...,35,33,4,1,0,0,147,42,41,50.6

In [7]:
len(df.columns)

188

In [8]:
len(df.index)

32

In [9]:
df=pd.read_csv("team_data.csv",index_col=0)
df.head()

,players_used,avg_age,possession,games,games_starts,minutes,minutes_90s,goals,assists,goals_pens,...,fouls,fouled,offsides,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
team,,,,,,,,,,,,,,,,,,,,,
Argentina,21,28.5,61.6,5,55,480,5.3,9,6,7,...,59,89,18,3,0,1,226,68,61,52.7
Australia,20,28.7,37.8,4,44,360,4.0,3,3,3,...,52,34,1,0,0,0,200,72,72,50.0
Belgium,20,30.6,57.0,3,33,270,3.0,1,1,1,...,30,35,3,0,1,0,132,33,28,54.1
Brazil,26,28.4,56.2,5,55,480,5.3,8,6,7,...,63,74,8,1,0,0,271,43,56,43.4
Cameroon,22,28.0,41.7,3,33,270,3.0,4,4,4,...,32,38,2,0,0,0,142,42,36,53.8

In [10]:
len(df.index)

32

In [11]:
x=df.columns
x

Index(['players_used', 'avg_age', 'possession', 'games', 'games_starts',
       'minutes', 'minutes_90s', 'goals', 'assists', 'goals_pens',
       ...
       'fouls', 'fouled', 'offsides', 'pens_won', 'pens_conceded', 'own_goals',
       'ball_recoveries', 'aerials_won', 'aerials_lost', 'aerials_won_pct'],
      dtype='object', length=188)

In [12]:
x=np.sort(x)
x

array(['aerials_lost', 'aerials_won', 'aerials_won_pct', 'assisted_shots',
       'assists', 'assists_per90', 'average_shot_distance', 'avg_age',
       'ball_recoveries', 'blocked_passes', 'blocked_shots', 'blocks',
       'cards_red', 'cards_yellow', 'cards_yellow_red', 'clearances',
       'corner_kicks', 'corner_kicks_in', 'corner_kicks_out',
       'corner_kicks_straight', 'crosses', 'crosses_into_penalty_area',
       'dispossessed', 'dribble_tackles', 'dribble_tackles_pct',
       'dribbled_past', 'dribbles', 'dribbles_completed',
       'dribbles_completed_pct', 'dribbles_vs', 'errors', 'fouled',
       'fouls', 'games', 'games_complete', 'games_starts', 'games_subs',
       'gca', 'gca_defense', 'gca_dribbles', 'gca_fouled',
       'gca_passes_dead', 'gca_passes_live', 'gca_per90', 'gca_shots',
       'gk_avg_distance_def_actions', 'gk_clean_sheets',
       'gk_clean_sheets_pct', 'gk_corner_kick_goals_against',
       'gk_crosses', 'gk_crosses_stopped', 'gk_crosses_stopped_pct',
       'gk_def_actions_outside_pen_area',
       'gk_def_actions_outside_pen_area_per90',
       'gk_free_kick_goals_against', 'gk_games', 'gk_games_starts',
       'gk_goal_kick_length_avg', 'gk_goal_kicks', 'gk_goals_against',
       'gk_goals_against_per90', 'gk_losses', 'gk_minutes',
       'gk_own_goals_against', 'gk_passes',
       'gk_passes_completed_launched', 'gk_passes_launched',
       'gk_passes_length_avg', 'gk_passes_pct_launched',
       'gk_passes_throws', 'gk_pct_goal_kicks_launched',
       'gk_pct_passes_launched', 'gk_pens_allowed', 'gk_pens_att',
       'gk_pens_missed', 'gk_pens_save_pct', 'gk_pens_saved',
       'gk_psnpxg_per_shot_on_target_against', 'gk_psxg', 'gk_psxg_net',
       'gk_psxg_net_per90', 'gk_save_pct', 'gk_saves',
       'gk_shots_on_target_against', 'gk_ties', 'gk_wins', 'goals',
       'goals_assists_pens_per90', 'goals_assists_per90', 'goals_pens',
       'goals_pens_per90', 'goals_per90', 'goals_per_shot',
       'goals_per_shot_on_target', 'interceptions', 'minutes',
       'minutes_90s', 'minutes_pct', 'minutes_per_game',
       'minutes_per_start', 'minutes_per_sub', 'miscontrols', 'npxg',
       'npxg_net', 'npxg_per90', 'npxg_per_shot', 'npxg_xg_assist',
       'npxg_xg_assist_per90', 'offsides', 'on_goals_against',
       'on_goals_for', 'on_xg_against', 'on_xg_for', 'own_goals',
       'pass_xa', 'passes', 'passes_blocked', 'passes_completed',
       'passes_completed_long', 'passes_completed_medium',
       'passes_completed_short', 'passes_dead', 'passes_free_kicks',
       'passes_into_final_third', 'passes_into_penalty_area',
       'passes_live', 'passes_long', 'passes_medium', 'passes_offsides',
       'passes_pct', 'passes_pct_long', 'passes_pct_medium',
       'passes_pct_short', 'passes_progressive_distance',
       'passes_received', 'passes_short', 'passes_switches',
       'passes_total_distance', 'pens_att', 'pens_conceded', 'pens_made',
       'pens_won', 'players_used', 'plus_minus', 'plus_minus_per90',
       'points_per_game', 'possession', 'progressive_passes',
       'progressive_passes_received', 'sca', 'sca_defense',
       'sca_dribbles', 'sca_fouled', 'sca_passes_dead', 'sca_passes_live',
       'sca_per90', 'sca_shots', 'shots', 'shots_free_kicks',
       'shots_on_target', 'shots_on_target_pct', 'shots_on_target_per90',
       'shots_per90', 'tackles', 'tackles_att_3rd', 'tackles_def_3rd',
       'tackles_interceptions', 'tackles_mid_3rd', 'tackles_won',
       'through_balls', 'throw_ins', 'touches', 'touches_att_3rd',
       'touches_att_pen_area', 'touches_def_3rd', 'touches_def_pen_area',
       'touches_live_ball', 'touches_mid_3rd', 'unused_subs', 'xg',
       'xg_assist', 'xg_assist_net', 'xg_assist_per90', 'xg_net',
       'xg_per90', 'xg_plus_minus', 'xg_plus_minus_per90',
       'xg_xg_assist_per90'], dtype=object)

In [13]:

len(x)
x=["aerials_yo'qotilgan", 'aerials_won', 'aerials_won_pct', "yordamli_o'qlar",
       'assist', 'assists_per 90', "o'rtacha_zarba_masofa", "o'rtacha_yosh",
       "to'pni_tiklashlar", 'bloklangan_paslar', 'bloklangan_otishmalar', 'bloklar',
       'kartalar_qizil', 'kartalar_sariq', 'kartalar_sariq_qizil', "bo'sh joylar",
       "burchak_to'plari", "burchak_to'plari", 'burchak_tepkilari',
       "to'g'ridan-to'g'ri burchakli zarbalar", "to'p uzatishlar", "jarima_maydoniga_o'tishlar",
       'egasiz', 'dribble_tackles', 'dribble_tackles_pct',
       'dribbled_past', 'dribbles', 'dribbles_completed',
       'dribbles_completed_pct', 'dribbles_vs', 'xato', 'pouled',
       'qoidabuzarliklar', "o'yinlar", "o'yinlar_tugallangan", "o'yinlar_boshlanadi", "o'yinlar_obunalari",
       'gca', 'gca_defense', 'gca_dribbles', 'gca_fouled',
       'gca_passes_dead', 'gca_passes_live', 'gca_per90', 'gca_shots',
       'gk_avg_distance_def_actions', 'gk_clean_sheets',
       'gk_clean_sheets_pct', 'gk_corner_kick_goals_gainst',
       'gk_crosses', 'gk_crosses_stopped', 'gk_crosses_stopped_pct',
       'gk_def_actions_outside_pen_area',
       'gk_def_actions_outside_pen_area_per90',
       'gk_free_kick_goals_gainst', 'gk_games', 'gk_games_starts',
       'gk_goal_kick_length_avg', 'gk_goal_kicks', 'gk_goals_gainst',
       'gk_goals_gainst_per90', 'gk_losses', 'gk_minutes',
       'gk_goals_gainst', 'gk_passes',
       'gk_passes_completed_launched', 'gk_passes_launched',
       'gk_passes_length_avg', 'gk_passes_pct_launched',
       'gk_passes_throws', 'gk_pct_goal_kicks_launched',
       'gk_pct_passes_launched', 'gk_pens_allowed', 'gk_pens_att',
       'gk_pens_missed', 'gk_pens_save_pct', 'gk_pens_saqed',
       'gk_psnpxg_per_shot_on_target_gainst', 'gk_psxg', 'gk_psxg_net',
       'gk_psxg_net_per90', 'gk_save_pct', 'gk_saves',
       'gk_shots_on_target_ainst', 'gk_ties', 'gk_wins', 'gollar',
       'gollar_yordamchi_qalamlar_har 90', 'gol_assists_har90', 'gol_qalamlar',
       'goals_pens_har 90', 'gols_for 90', 'gols_har bir 90',
       "maqsaddagi_bosh_otish_gollari", "to'siqlar", "daqiqalar",
       'daqiqa_90s', 'daqiqa_pct', "har_o'yinga_daqiqa",
       'boshlash_boshiga_daqiqa', 'har_sub_daqiqa', "noto'g'ri boshqarishlar", 'npxg',
       'npxg_net', 'npxg_per90', 'npxg_per_shot', 'npxg_xg_assist',
       'npxg_xg_assist_per90', 'offsaydlar', 'goals_gainst',
       'gollar_uchun', 'on_xg_ga qarshi', 'on_xg_for', "o'z_gollari",
       "o'tish_xa", "o'tish", "o'tish_bloklangan", "o'tish_tugallangan",
       "o'tish_tugallangan_uzoq", "o'tish_tugallangan_medium",
       'bajarildi_qisqa', "o'lik_pas", "erkin_toplarni_pas",
       "uchinchi_finalga_o'tadi", "jarima_maydoniga_o'tadi",
       "jonli_o'tadi", "uzoq_o'tadi", "o'rta_o'tadi", "o'yindan_o'tadi",
       'passes_pct', 'passes_pct_long', 'passes_pct_medium',
       'passes_pct_short', 'progressive_distance',
       "o'tadi_qabul", "o'tadi_qisqa", "o'tish_ko'chma",
       "jami_masofadan_o'tadi", 'pens_att', 'qalamlar_talab qilingan', 'qalamlar_yasalgan',
       'pens_won', "ishlatilgan_o'yinchilar", 'plus_minus', 'plus_minus_per90',
       "har_o'yin_ballari", "egalik qilish", 'progressiv_paslar',
       'progressive_passes_received', 'sca', 'sca_defense',
       'sca_dribbles', 'sca_fouled', 'sca_passes_dead', 'sca_passes_live',
       'sca_per90', 'sca_shots', 'shots', 'shots_free_kicks',
       "nishon_to'g'risida_otishlar", "n'on_ko'p_ko'rsatkichlar", "nishon_to'g'rida_otishlar",
       'shots_per90', 'tackles', 'tackles_att_3rd', 'tackles_def_3rd',
       "tackles_to'siqlar", 'tackles_mid_3rd', 'tackles_won',
       "to'plar_orqali", 'otish_otish', 'tegishlar', 'tegishlar_3rd',
       'touches_att_pen_area', 'touches_def_3rd', 'touches_def_pen_area',
       'touches_live_ball', 'touches_mid_3rd', 'foydalanishsiz_obunalar', 'xg',
       'xg_assist', 'xg_assist_net', 'xg_assist_per90', 'xg_net',
       'xg_per90', 'xg_plus_minus', 'xg_plus_minus_per90',
       'xg_xg_assist_per90']

In [14]:
df.columns=x
df

,aerials_yo'qotilgan,aerials_won,aerials_won_pct,yordamli_o'qlar,assist,assists_per 90,o'rtacha_zarba_masofa,o'rtacha_yosh,to'pni_tiklashlar,bloklangan_paslar,...,foydalanishsiz_obunalar,xg,xg_assist,xg_assist_net,xg_assist_per90,xg_net,xg_per90,xg_plus_minus,xg_plus_minus_per90,xg_xg_assist_per90
team,,,,,,,,,,,,,,,,,,,,,
Argentina,21,28.5,61.6,5,55,480,5.3,9,6,7,...,59,89,18,3,0,1,226,68,61,52.7
Australia,20,28.7,37.8,4,44,360,4.0,3,3,3,...,52,34,1,0,0,0,200,72,72,50.0
Belgium,20,30.6,57.0,3,33,270,3.0,1,1,1,...,30,35,3,0,1,0,132,33,28,54.1
Brazil,26,28.4,56.2,5,55,480,5.3,8,6,7,...,63,74,8,1,0,0,271,43,56,43.4
Cameroon,22,28.0,41.7,3,33,270,3.0,4,4,4,...,32,38,2,0,0,0,142,42,36,53.8
Canada,19,28.2,52.0,3,33,270,3.0,1,1,1,...,33,37,8,0,0,0,145,30,21,58.8
Costa Rica,22,30.6,31.3,3,33,270,3.0,3,1,3,...,24,37,13,0,1,0,142,38,30,55.9
Croatia,18,29.3,54.0,5,55,510,5.7,6,6,6,...,69,64,9,0,0,0,291,74,73,50.3
Denmark,20,27.5,60.0,3,33,270,3.0,1,1,1,...,28,23,5,0,0,0,171,51,48,51.5
Ecuador,18,25.8,53.3,3,33,270,3.0,4,2,3,...,50,37,8,1,1,0,135,50,49,50.5
England,20,27.0,62.8,5,55,450,5.0,13,11,12,...,53,65,5,2,1,0,227,60,66,47.6
France,24,27.3,54.8,5,55,450,5.0,11,11,11,...,39,52,8,0,3,0,241,69,60,53.5
Germany,20,28.1,59.3,3,33,270,3.0,6,5,5,...,26,27,12,1,0,0,164,36,33,52.2
Ghana,20,26.4,42.0,3,33,270,3.0,5,2,5,...,46,38,4,1,1,0,146,36,62,36.7
Iran,21,29.3,36.7,3,33,270,3.0,4,2,3,...,38,26,6,1,0,0,178,43,49,46.7
Japan,22,28.8,35.8,4,44,390,4.3,5,4,5,...,58,36,9,0,1,0,220,59,76,43.7
Korea Republic,21,29.0,48.3,4,44,360,4.0,5,3,5,...,45,34,7,0,1,0,175,72,59,55.0
Mexico,21,29.0,54.0,3,33,270,3.0,2,1,2,...,51,48,13,0,1,0,151,48,51,48.5
Morocco,22,27.3,32.4,5,55,480,5.3,5,4,5,...,74,57,14,0,0,1,262,53,64,45.3
Netherlands,21,27.6,53.0,5,55,480,5.3,10,8,10,...,87,50,8,0,1,0,241,79,70,53.0
Poland,21,28.7,37.3,4,44,360,4.0,3,1,2,...,47,47,1,1,2,0,164,51,60,45.9
Portugal,24,27.8,60.4,5,55,450,5.0,12,10,10,...,55,65,14,1,0,0,256,66,53,55.5
Qatar,20,29.0,43.0,3,33,270,3.0,1,1,1,...,31,45,7,0,1,0,138,36,38,48.6
Saudi Arabia,23,28.1,44.7,3,33,270,3.0,3,2,3,...,56,38,3,1,1,0,132,45,49,47.9
Senegal,20,27.7,44.8,4,44,360,4.0,5,2,4,...,48,57,8,1,0,0,192,72,63,53.3
Serbia,22,27.4,51.3,3,33,270,3.0,5,4,5,...,43,28,4,0,0,0,161,43,38,53.1
Spain,21,26.3,75.8,4,44,390,4.3,9,5,8,...,41,46,11,1,0,0,225,41,39,51.3
Switzerland,24,28.5,49.0,4,44,360,4.0,5,4,5,...,53,49,6,0,0,0,190,45,49,47.9
Tunisia,21,27.7,44.3,3,33,270,3.0,1,1,1,...,40,28,7,0,0,0,170,48,57,45.7
United States,20,25.3,53.0,4,44,360,4.0,3,3,3,...,45,40,5,0,1,0,212,53,53,50.0
Uruguay,19,28.5,48.7,3,33,270,3.0,2,1,2,...,34,36,3,0,2,0,166,53,47,53.0
Wales,18,27.7,46.7,3,33,270,3.0,1,0,0,...,35,33,4,1,0,0,147,42,41,50.6

In [15]:
df2 = pd.read_csv("group_stats (1).csv") 
df2.head(5)

,Unnamed: 0,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97

In [16]:
df3 = pd.read_excel("130.xlsx") 
df3.head()

,No1,FIO,Tavsiyanomasi,Bahosi,Yashash joyi,Ball
0,1,Eshmamatov Faxriddin Xayriddin o'g'li,Kantirak,4,Jizzax viloyati,95
1,2,Narimonov Shahboz Bobosher o'g'li,Kantirak,4,Jizzax viloyati,130
2,3,Sayfiyeva Muattar Alisher qizi,Kantirak,4,Jizzax viloyati,135
3,4,Tolliboyev Arslonbek Bolibek o'g'li,Grant,5,Jizzax viloyati,180
4,5,Imomov Imomali Anvarjon o'g'li,Grant,4,Xorazm viloyati,156

In [17]:
df3.sort_index(axis=1)
df3.head()

,No1,FIO,Tavsiyanomasi,Bahosi,Yashash joyi,Ball
0,1,Eshmamatov Faxriddin Xayriddin o'g'li,Kantirak,4,Jizzax viloyati,95
1,2,Narimonov Shahboz Bobosher o'g'li,Kantirak,4,Jizzax viloyati,130
2,3,Sayfiyeva Muattar Alisher qizi,Kantirak,4,Jizzax viloyati,135
3,4,Tolliboyev Arslonbek Bolibek o'g'li,Grant,5,Jizzax viloyati,180
4,5,Imomov Imomali Anvarjon o'g'li,Grant,4,Xorazm viloyati,156

In [18]:
df3 = df3.sort_values('No1')
df3.head()

,No1,FIO,Tavsiyanomasi,Bahosi,Yashash joyi,Ball
0,1,Eshmamatov Faxriddin Xayriddin o'g'li,Kantirak,4,Jizzax viloyati,95
1,2,Narimonov Shahboz Bobosher o'g'li,Kantirak,4,Jizzax viloyati,130
2,3,Sayfiyeva Muattar Alisher qizi,Kantirak,4,Jizzax viloyati,135
3,4,Tolliboyev Arslonbek Bolibek o'g'li,Grant,5,Jizzax viloyati,180
4,5,Imomov Imomali Anvarjon o'g'li,Grant,4,Xorazm viloyati,156

In [19]:
k = df3.columns
k

Index(['No1', '                    FIO', 'Tavsiyanomasi ', 'Bahosi',
       'Yashash joyi', 'Ball'],
      dtype='object')

In [20]:
hdf_obj=pd.HDFStore("Ndata.h5")

In [21]:
hdf_obj.put("data_csv",df2)
hdf_obj.put("data_excel",df3)

In [22]:
kalit_soz=hdf_obj.keys()
kalit_soz

['/data_csv', '/data_excel']

In [23]:
hdf_obj["data_csv"]

,Unnamed: 0,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
5,5,2,2,United States,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
6,6,2,3,IR Iran,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
7,7,2,4,Wales,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
8,8,3,1,Argentina,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
9,9,3,2,Poland,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
10,10,3,3,Mexico,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
11,11,3,4,Saudi Arabia,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
12,12,4,1,France,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
13,13,4,2,Australia,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
14,14,4,3,Tunisia,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,15,4,4,Denmark,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
16,16,5,1,Japan,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
17,17,5,2,Spain,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
18,18,5,3,Germany,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
19,19,5,4,Costa Rica,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
20,20,6,1,Morocco,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
21,21,6,2,Croatia,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
22,22,6,3,Belgium,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
23,23,6,4,Canada,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
24,24,7,1,Brazil,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
25,25,7,2,Switzerland,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
26,26,7,3,Cameroon,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
27,27,7,4,Serbia,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
28,28,8,1,Portugal,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
29,29,8,2,Korea Republic,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
30,30,8,3,Uruguay,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
31,31,8,4,Ghana,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

In [24]:
hdf_obj["data_excel"].head()

,No1,FIO,Tavsiyanomasi,Bahosi,Yashash joyi,Ball
0,1,Eshmamatov Faxriddin Xayriddin o'g'li,Kantirak,4,Jizzax viloyati,95
1,2,Narimonov Shahboz Bobosher o'g'li,Kantirak,4,Jizzax viloyati,130
2,3,Sayfiyeva Muattar Alisher qizi,Kantirak,4,Jizzax viloyati,135
3,4,Tolliboyev Arslonbek Bolibek o'g'li,Grant,5,Jizzax viloyati,180
4,5,Imomov Imomali Anvarjon o'g'li,Grant,4,Xorazm viloyati,156

In [25]:
hdf_obj.close() # data yopildi endi funksiya bajarib bo'lmaydi , bajarish uchun open() kk

4. Masala.Yuqorida yaratgan .h5 fayl kengaytmali obyektingizni elimentlarini chaqirib oling va DataFrame ning ichidagi takrorlanuvchi va
keraksiz malumotlarni olib tashlang enga asosiy ustunni tanlab uni indexlariga o’tkazing va qayta saqlang

In [26]:
HDF1=pd.read_hdf("/content/Ndata.h5",key="data_csv")
HDF1

,Unnamed: 0,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
5,5,2,2,United States,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
6,6,2,3,IR Iran,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
7,7,2,4,Wales,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
8,8,3,1,Argentina,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
9,9,3,2,Poland,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
10,10,3,3,Mexico,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
11,11,3,4,Saudi Arabia,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
12,12,4,1,France,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
13,13,4,2,Australia,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
14,14,4,3,Tunisia,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,15,4,4,Denmark,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
16,16,5,1,Japan,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
17,17,5,2,Spain,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
18,18,5,3,Germany,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
19,19,5,4,Costa Rica,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
20,20,6,1,Morocco,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
21,21,6,2,Croatia,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
22,22,6,3,Belgium,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
23,23,6,4,Canada,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
24,24,7,1,Brazil,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
25,25,7,2,Switzerland,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
26,26,7,3,Cameroon,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
27,27,7,4,Serbia,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
28,28,8,1,Portugal,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
29,29,8,2,Korea Republic,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
30,30,8,3,Uruguay,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
31,31,8,4,Ghana,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

In [28]:
HDF1=pd.read_hdf("/content/Ndata.h5",key="data_csv")
HDF1.index
HDF1.drop('wins', axis=1, inplace=True)
HDF1.drop('goals_against' , axis=1,inplace=True)
HDF1

,Unnamed: 0,group,rank,team,matches_played,draws,losses,goals_scored,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,0,1,1,Netherlands,3,1,0,5,4,7,2.4,2.7,-0.3,-0.11
1,1,1,2,Senegal,3,0,1,5,1,6,3.8,2.5,1.3,0.43
2,2,1,3,Ecuador,3,1,1,4,1,4,3.7,2.6,1.2,0.39
3,3,1,4,Qatar,3,0,3,1,-6,0,1.4,3.5,-2.1,-0.71
4,4,2,1,England,3,1,0,9,7,7,5.2,2.3,2.9,0.97
5,5,2,2,United States,3,2,0,2,1,5,2.6,2.7,-0.1,-0.03
6,6,2,3,IR Iran,3,0,2,4,-3,3,3.2,4.2,-0.9,-0.32
7,7,2,4,Wales,3,1,2,1,-5,1,2.7,4.6,-1.9,-0.63
8,8,3,1,Argentina,3,0,1,5,3,6,6.0,0.7,5.2,1.74
9,9,3,2,Poland,3,1,1,2,0,4,2.8,5.9,-3.1,-1.04
10,10,3,3,Mexico,3,1,1,2,-1,4,3.3,2.4,0.9,0.30
11,11,3,4,Saudi Arabia,3,0,2,3,-2,3,3.0,6.0,-3.0,-1.01
12,12,4,1,France,3,0,1,6,3,6,7.2,1.6,5.5,1.85
13,13,4,2,Australia,3,0,1,3,-1,6,1.7,5.6,-3.9,-1.29
14,14,4,3,Tunisia,3,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,15,4,4,Denmark,3,1,2,1,-2,1,2.7,3.9,-1.2,-0.39
16,16,5,1,Japan,3,0,1,4,1,6,3.8,4.2,-0.4,-0.14
17,17,5,2,Spain,3,1,1,9,6,4,5.2,2.7,2.5,0.82
18,18,5,3,Germany,3,1,1,6,1,4,10.1,3.4,6.7,2.22
19,19,5,4,Costa Rica,3,0,2,3,-8,3,1.4,10.1,-8.7,-2.90
20,20,6,1,Morocco,3,1,0,4,3,7,2.4,2.8,-0.5,-0.15
21,21,6,2,Croatia,3,2,0,4,3,5,3.8,3.8,0.0,-0.01
22,22,6,3,Belgium,3,1,1,1,-1,4,4.7,4.6,0.2,0.05
23,23,6,4,Canada,3,0,3,2,-5,0,4.2,3.9,0.3,0.11
24,24,7,1,Brazil,3,0,1,3,2,6,5.9,0.9,4.9,1.65
25,25,7,2,Switzerland,3,0,1,4,1,6,4.4,3.1,1.4,0.45
26,26,7,3,Cameroon,3,1,1,4,0,4,3.4,5.8,-2.3,-0.78
27,27,7,4,Serbia,3,1,2,5,-3,1,3.4,7.3,-3.9,-1.32
28,28,8,1,Portugal,3,0,1,6,2,6,4.6,3.9,0.7,0.24
29,29,8,2,Korea Republic,3,1,1,4,0,4,4.1,3.5,0.6,0.19
30,30,8,3,Uruguay,3,1,1,2,0,4,3.7,3.5,0.1,0.05
31,31,8,4,Ghana,3,0,2,5,-2,3,4.1,5.6,-1.4,-0.48

In [29]:
HDF2=pd.read_hdf("/content/Ndata.h5", key="data_excel")
HDF2.head(10)

,No1,FIO,Tavsiyanomasi,Bahosi,Yashash joyi,Ball
0,1,Eshmamatov Faxriddin Xayriddin o'g'li,Kantirak,4,Jizzax viloyati,95
1,2,Narimonov Shahboz Bobosher o'g'li,Kantirak,4,Jizzax viloyati,130
2,3,Sayfiyeva Muattar Alisher qizi,Kantirak,4,Jizzax viloyati,135
3,4,Tolliboyev Arslonbek Bolibek o'g'li,Grant,5,Jizzax viloyati,180
4,5,Imomov Imomali Anvarjon o'g'li,Grant,4,Xorazm viloyati,156
5,6,Nazarqosimov Shukurullo Farxod o'g'li,Grant,5,Jizzax viloyati,120
6,7,Begimqulov Saidqosim Komil o'g'li,Grant,4,Namangan viloyati,138
7,8,Daminov Jasur Dilshod o'g'li,Grant,5,Jizzax viloyati,167
8,9,Rahmatov Ilhom Ihtiyor o'g'li,Grant,5,Jizzax viloyati,167
9,10,Abiyorqulov Azamat Asqarjon o'g'li,Kantirak,4,Buxoro viloyati,129

In [30]:
HDF2=pd.read_hdf("/content/Ndata.h5",key="data_excel")
HDF2.index
HDF2.drop('No1', axis=1, inplace=True) # takrorlanucvhi elementni olib tashlash
HDF2

,FIO,Tavsiyanomasi,Bahosi,Yashash joyi,Ball
0,Eshmamatov Faxriddin Xayriddin o'g'li,Kantirak,4,Jizzax viloyati,95
1,Narimonov Shahboz Bobosher o'g'li,Kantirak,4,Jizzax viloyati,130
2,Sayfiyeva Muattar Alisher qizi,Kantirak,4,Jizzax viloyati,135
3,Tolliboyev Arslonbek Bolibek o'g'li,Grant,5,Jizzax viloyati,180
4,Imomov Imomali Anvarjon o'g'li,Grant,4,Xorazm viloyati,156
5,Nazarqosimov Shukurullo Farxod o'g'li,Grant,5,Jizzax viloyati,120
6,Begimqulov Saidqosim Komil o'g'li,Grant,4,Namangan viloyati,138
7,Daminov Jasur Dilshod o'g'li,Grant,5,Jizzax viloyati,167
8,Rahmatov Ilhom Ihtiyor o'g'li,Grant,5,Jizzax viloyati,167
9,Abiyorqulov Azamat Asqarjon o'g'li,Kantirak,4,Buxoro viloyati,129
10,Romizov Azamat Oybek o'g'li,Grant,5,Jizzax viloyati,176
11,Rashidov Baxrom Zokir o'g'li,Kantirak,4,Jizzax viloyati,126
12,Sherbekov Quvonchbek Xolmurot o'g'li,Kantirak,4,Jizzax viloyati,130
13,O'tanmurotov Jo'rabek Gulmurot o'g'li,Grant,4,Qashqadaryo viloyati,134
14,Abdug'aniyeva Diyora Xayrulla qizi,Grant,4,Sirdaryo viloyati,176
15,Olimov Farhod Olim o'g'li,Grant,4,Jizzax viloyati,165
16,Kirjigitov Shaxboz Erkin o'g'li,Kantirak,5,Qashqadaryo viloyati,145
17,Yakubov Asadbek Muzaffar o'g'li,Kantirak,4,Jizzax viloyati,134
18,Zokirov Jaloliddin Rashid o'g'li,Kantirak,4,Jizzax viloyati,128
19,Xabibullayev Aliyor Baxtiyor o'g'li,Kantirak,4,Jizzax viloyati,100
20,O'zarqulov Axmadjon Baxtiyor o'g'li,Kantirak,4,Jizzax viloyati,127
21,Haydarniyozov Anvar Jamshed o'g'li,Grant,4,Navoiy viloyati,131
22,Xankelov Abdumutal Mansur o'g'li,Grant,5,Samarqand viloyati,165
23,Bekmurodov Og'abek Quvonch o'g'li,Grant,4,Jizzax viloyati,90
24,Mardonov Izzatillo Xayrullo o'g'li,Kantirak,4,Qashqadaryo viloyati,122
25,Muradov Ubaydulla Axror o'g'li,Grant,5,Samarqand viloyati,173
26,Asmandiyorov Bayotbek\n Baxtiyor o`g`li,Grant,4,Jizzax viloyati,173
27,Daminov Javlonbek Komiljon o’g’li,Kantirak,4,Jizzax viloyati,134
28,Zaitov Abduma'ruf O‘mirzoq o'g'li,Grant,5,Jizzax viloyati,181
29,BEKTEMIROVA ZULAYXO ZOKIR QIZI,Grant,5,Samarqand viloyati,167